.header {
    font-family: "Inter", Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px 16px 0 16px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
       margin: 28px 24px 0 24px; 
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .header {
       margin: 28px 48px 0 48px; 
    }
}
