.intro {
    font-family: "Inter", Arial, sans-serif;
    color: #FFFFFF;
    margin: 64px 16px;
    font-family: 'Inter', Arial, sans-serif;
}

@media (min-width: 768px) {
    .intro {
        margin: 88px 24px;
    }
}

@media (min-width: 1024px) {
    .intro {
        margin: 92px 286px 96px 48px;
    }
}

@media (min-width: 1280px) {
    .intro {
        margin: 92px 442px 92px 148px;
    }
}