.cover__title {
    font-size: 32px;
    line-height: 1.09;
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
    width: 288px;
}

@media screen and (min-width: 768px) {
    .cover__title{
        font-size: 72px;
        line-height: 1.05;
        width: 560px;
    }
}
